In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [12]:
df = pd.read_csv('Affairs.csv')

In [16]:
df.drop(labels= ['Unnamed: 0'], axis = 1, inplace=True)

In [17]:
df.head()

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,0,male,37.0,10.00,no,3,18,7,4
1,0,female,27.0,4.00,no,4,14,6,4
2,0,female,32.0,15.00,yes,1,12,1,4
3,0,male,57.0,15.00,yes,5,18,6,5
4,0,male,22.0,0.75,no,2,17,6,3

In [18]:
x = df.iloc[:, 1:]
print(x)

     gender   age  yearsmarried children  religiousness  education  \
0      male  37.0         10.00       no              3         18
1    female  27.0          4.00       no              4         14
2    female  32.0         15.00      yes              1         12
3      male  57.0         15.00      yes              5         18
4      male  22.0          0.75       no              2         17
..      ...   ...           ...      ...            ...        ...
596    male  22.0          1.50      yes              1         12
597  female  32.0         10.00      yes              2         18
598    male  32.0         10.00      yes              2         17
599    male  22.0          7.00      yes              3         18
600  female  32.0         15.00      yes              3         14

     occupation  rating
0             7       4
1             6       4
2             1       4
3             6       5
4             6       3
..          ...     ...
596           2       5
597           5       4
598           6       5
599           6       2
600           1       5

[601 rows x 8 columns]

In [20]:
y = df['affairs']
y

0      0
1      0
2      0
3      0
4      0
      ..
596    1
597    7
598    2
599    2
600    1
Name: affairs, Length: 601, dtype: int64

In [27]:
x['gender'] = pd.get_dummies(x['gender'], drop_first=True)
x['children'] = pd.get_dummies(x['children'], drop_first = True)

In [28]:
x

,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,1,37.0,10.00,0,3,18,7,4
1,0,27.0,4.00,0,4,14,6,4
2,0,32.0,15.00,1,1,12,1,4
3,1,57.0,15.00,1,5,18,6,5
4,1,22.0,0.75,0,2,17,6,3
...,...,...,...,...,...,...,...,...
596,1,22.0,1.50,1,1,12,2,5
597,0,32.0,10.00,1,2,18,5,4
598,1,32.0,10.00,1,2,17,6,5
599,1,22.0,7.00,1,3,18,6,2
600,0,32.0,15.00,1,3,14,1,5

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(480, 8)
(480,)
(121, 8)
(121,)

In [31]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

C:\Users\mksmu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [34]:
y_predicted=clf.predict(x_test)
y_train_predicted=clf.predict(x_train)

In [35]:
from sklearn.metrics import accuracy_score, confusion_matrix,roc_curve,classification_report
print("train set accuracy score: ", accuracy_score(y_train,y_train_predicted))
print("test set accuracy score :",  accuracy_score(y_test,y_predicted))

train set accuracy score:  0.7520833333333333
test set accuracy score : 0.7355371900826446

In [40]:
print("Prediction chance of your model :")
print(clf.predict_proba(np.array([[1,37.0,10.00,0,3,18,7,4]]))*100)

Prediction chance of your model :
[[79.72371845  3.38571891  3.12197165  2.23104455  5.81757502  5.71997141]]